.dropdown-btn-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: white;
    color: var(--secondary-text-color);
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;

}
.dropdown-btn-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-icon-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    color:var(--secondary-text-color);
}

.dropdown-icon-light{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.button-open{
    border: rgb(147, 197, 253) 2px solid;
}
