#home{
    position: absolute;
}

.home-dark{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    width: 100vw;
    height: 100vh;
    /* height: max-content; */
    /* position: sticky; */
  }
  
  .home-light{
    background-color: var(--light-background-color);
    color: var(--secondary-text-color);
    width: 100vw;
    height: 100vh;
  }

  /* header {
    width: 100%;
    padding: 1em;
    background-color: #333;
  } */
