.recipe-list-dark{
    color: var(--primary-text-color);
}
.recipe-list-light{
    color: var(--secondary-text-color);
}

.card-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
