.recipe-list-dark{
    color: var(--primary-text-color);
}
.recipe-list-light{
    color: var(--secondary-text-color);
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
