.recipe-list-dark{
    background-color: var(--background-color);
    color: var(--primary-text-color);
  }
  
.recipe-list-light{
  background-color: var(--light-background-color);
  color: var(--secondary-text-color);
}

#card-container{
    /* align-items: center; */
    /* max-width: 1250px; */
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* .button {
    display: flex;
    justify-content: center;
} */
