.App {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-dark{
  background-color: var(--background-color);
  color: var(--primary-text-color);
  /* height property causes the dark mode bg to only cover the top screen portion and doesn't move when scrolled; if no height property in app.css, it works, but then landing page and AddRecipe are not styled properly.  Solution: Use Home.js!! (should anyway) so that can be styled separately */
  width: 100vw;
  height: 100vh;
  /* height: max-content; */
  /* position: sticky; */
}

.App-light{
  background-color: var(--light-background-color);
  color: var(--secondary-text-color);
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  padding: 1em;
  background-color: #333;
}

.random-recipe {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
