.App {
  width: 90vh;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-dark{
  background-color: var(--background-color);
  color: var(--primary-text-color);

}
.App-light{
  background-color: var(--light-background-color);
  color: var(--secondary-text-color);
}

header {
  width: 100%;
  padding: 1em;
  background-color: #333;
}

.random-recipe {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
