
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --background-color: #333333;
  --light-background-color: #e2e2dd;
  --foreground-color: #c3d0f1;
  --primary-text-color: #ffffff;
  --secondary-text-color: #283452;
  --toggle-bg: #b58635;
  --toggle-fg: #e7b662;
  --accent-color: #ba9a47;
}
/* :root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
} */

/* [data-theme = "light"] {
  --background-color: #ffffff;
  --foreground-color: #567aff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #f6f6f6;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
} */
