
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --background-color: #333333;
  --light-background-color: #e2e2dd;
  --foreground-color: #c3d0f1;
  --primary-text-color: #ffffff;
  --secondary-text-color: #283452;
  --toggle-bg: #b58635;
  --toggle-fg: #e7b662;
  --accent-color: #ba9a47;
}
